body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  min-width: 500px;
}

.rowitem {
  margin: 5px;
  background-color: grey;
  text-align: center;
  font-size: 48px;
  padding: 0 10px 0 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.inactive {
    opacity: 0.2;
}

.rowitem.name {
    width: 300px;
    min-width: 300px;
    text-align: right;
}

.rowitem.number {
    width: 60px;
    min-width: 60px;
}

.rowitem.strategy {
    width: 300px;
    min-width: 300px;
    text-align: left;
}

