@import './base.css';

#app {
  width: 100%;
  max-width: 1920px;
}

body {
  /* This app is designed for a fixed screen ratio/size */
  overflow: hidden;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.leadership { color:hsla(0, 90%, 80%, 1); }
.diplomacy { color: hsla(27, 90%, 80%, 100%); }
.politics { color: hsla(54, 90%, 80%, 100%); }
.construction { color: hsla(112, 90%, 80%, 1); }
.trade { color: hsla(165, 90%, 80%, 1); }
.warfare { color: hsla(193, 90%, 80%, 1); }
.technology { color: hsla(230, 90%, 80%, 1); }
.imperial { color: hsla(274, 90%, 80%, 1); }