@import './base.css';

#app {
  width: 100%;
  max-width: 1920px;
}

body {
  /* This app is designed for a fixed screen ratio/size */
  overflow: hidden;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.leadership { color:hsla(0, 90%, 60%, 1); }
.diplomacy { color: hsla(27, 90%, 60%, 100%); }
.politics { color: hsla(54, 90%, 60%, 100%); }
.construction { color: hsla(112, 60%, 80%, 1); }
.trade { color: hsla(165, 90%, 60%, 1); }
.warfare { color: hsla(193, 90%, 60%, 1); }
.technology { color: hsla(230, 90%, 60%, 1); }
.imperial { color: hsla(274, 90%, 60%, 1); }

button {
  background-color: var(--vt-c-black-mute);
  color: var(--vt-c-white-mute);
  border: 0px;
  font-family: inherit;
  padding: 8px;
  margin: 2px;
}

input {
  background-color: var(--vt-c-black-mute);
  color: var(--vt-c-white-mute);
  border: 0px;
  font-family: inherit;
  padding: 8px;
  margin: 2px;
}

input[type="radio"] {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

input[type="radio"]+label {
  background-color: var(--vt-c-black-mute);
  color: var(--vt-c-white-mute);
  border: 0px;
  font-family: inherit;
  padding: 4px;
  margin: 2px; 
}

input[type="radio"]:checked+label {
  background-color: var(--vt-c-indigo);
}